.container {
    width: 100%;
    max-width: 1771px;
    margin: auto;
    background-color: #060606;
    display: grid;
    grid-template-columns: clamp(180px, 18.4vw, 248px) 1fr ;  //(nav bar width), (content width), (frendly 358px)
    grid-template-rows: 54px 100vh 81px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 8px;
    // transition: grid-template-columns 1s ;
}
  