@use '../abstract/variables';
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0 0 95px 0;
    min-height: 100vh;
    overflow-x: hidden;
}

h1,h2,h3,p {
    margin:0;
    padding: 0;
}
button {
    background-color: transparent;
    border: none;
    color:#E0E0E0;
}
a {
    text-decoration: none;
    color: variables.$base-font-color
}