@use './base/reset';
@use './abstract/variables';
@use './abstract/mixins';
@use "./layout/header";
@use './layout/nav';
@use './layout/content';
@use './layout/friends_actv';
@use './layout/footer';
@use './abstract/media';
@use './base/base';


@font-face {
    font-family: Satoshi;
    src: url(webfonts/Satoshi-Regular.woff2);
  }
@media (max-width:1024px) {
    
    .container {
        grid-template-columns: 85px 1fr;  //(nav bar width), (content width)
        gap:8px;
        }
    .container.view_hide {
        grid-template-columns: 85px 1fr 358px;  //(nav bar width), (content width), (frendly 358px) 
    
        }

    .nav-item-title {
        display:none
        }

    .nav-item-sublist-arrow {
        margin-left:-10px;
        width: 20px;    
        }

    .header-right-btn{
        gap:5px;
    }
    }

@media (max-width:768px) {
    .header-left-btn span {
        display:none;
    }
    .header-left-btn{
        gap:0;
    }
    .header-right-btn{
        gap:0;
    }
    .header-home,
    .header-discover,
    .header-search {
       width: 55px;
    }
    .friends-activity{
    display: none;
}
}


@media (max-width:480px){
    .header-right-btn .media480{
        display: none;
    }
}
@media (max-width:390px){
    .container {
        width: 100%;
        max-width: 390px;
        height:100vh;
        margin: auto;
        background-color: #e98c8c;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 101px auto 156px;
        gap:0;
    }
    .header-wrapper {
        display:none;
    }
    .mobile-home-filter {
        grid-area: 1 / 1 / 2 / 2;
        background-color: #c0c0c0;
        height: 101px;
        border-radius:0;
        margin:0;
    }
    .content {
        grid-area: 2 / 1 / 3 / 2;
        height: 564px;
        border-radius:0;
        margin:0;
    }
    .player-mob{
        height: 61px;
        width: 390px;
        background-color: rgba(51, 56, 66, 1);
    }
    .header{
        grid-area: 3 / 1 / 4 / 2;
        width:390px;
        height: 156px;
        border-radius: 0;
        margin:0;
        position: fixed;
        bottom:0; 
        z-index: 5;
    }
}
