@use '../abstract/mixins';

.friends-activity{
    grid-area: 2 / 3 / 3 / 4;
    background-color: #060606;
    border-radius: 10px;
    margin:4px 7px 0 0;
    border:1px solid #202020;
    border-radius: 10px;
    padding: 10px;

    &-wrapper {
        @include mixins.flex-between();
    }
    &-header {
        @include mixins.flex-between();
    }
    &-title h3{
        @include mixins.satoshi_custom(1.4rem,500,#E0E0E0);
    }
    &-btn {
        @include mixins.flex();
        gap:10px;
    }
    .friends-item-icon {
        @include mixins.flex();
        width: 40.41px;
        height: 40.41px;  
    }
}
.friends-activity>p{color:aliceblue;}


.container.collapse {
    grid-template-columns: clamp(180px, 18.4vw, 259px) 1fr 0px; 
    transition: grid-template-columns 1s ;
}
.container.collapse .friends-activity{
        display: none;
    }
