@use '../abstract/mixins';
@use '../abstract/variables';
.header{
    &-wrapper {
        @include mixins.flex-between;
        height:54px;
    }
    &-left-btn {
        @include mixins.flex-start;
        gap:10.7px;
    }
    &-home {
        width: clamp(80px, 18vw, 190px);
        max-width: 210px;
        height:46px;
        background-color:#111111;
        border-radius: 10px;
        @include mixins.flex-start;
        gap:10.7px;
   
        img{
            margin-left:15px;
        }
        span{
        @include mixins.satoshi_1-4_400;
        }
    }
    &-discover {
        width: clamp(80px, 18vw, 190px);
        max-width: 210px;
        @include mixins.flex-start;
        gap:10.7px;
    
    img{
        margin-left:15px;
        }
    
    span{
        @include mixins.satoshi_1-4_400;
        }
    }
    &-search {
        width: clamp(50px, 18vw, 190px);
        max-width: 210px;
        @include mixins.flex-start;
        gap:10.7px;
    
    img{
        margin-left:15px;
        }
    span{
        @include mixins.satoshi_1-4_400;
        }
    }
    &-right-btn {
        @include mixins.flex;
        gap: clamp(1px, 10vw, 13px);
        cursor: pointer;
    }
    &-item-icon {
        @include mixins.flex;
        width: 40.41px;
        height: 40.41px;    
    }
}


.header-mob{
    width: 390px;
    height:156px;

    &-wrapper ul{
        @include mixins.flex-evenly;
        height:95px;
        background-image: linear-gradient(to top, rgba(17,17,17,1) 40%,  rgba(17,17,17,0.85) 100%);
    }
    a {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:40.41px;
        height:55px;
    }
    span {
        @include mixins.satoshi_custom(1.2rem,400,variables.$base-font-color);
        margin-top:10px;
    }

}