@use '../abstract/mixins';

.header{
    grid-area: 1 / 2 / 2 / 4;
    background-color: #060606;
    border-radius: 10px;
    margin:7px 7px 4px 0;
    

    &-wrapper {
        @include mixins.flex-between;
        height:54px;
    }
    &-left-btn {
        @include mixins.flex-start;
        gap:10.7px;
    }
    &-home {
        width: clamp(80px, 18vw, 210px);
        max-width: 210px;
        height:46px;
        background-color:#111111;
        border-radius: 10px;
        @include mixins.flex-start;
        gap:10.7px;
   
        img{
            margin-left:15px;
        }
        span{
        @include mixins.satoshi_1-4_400;
        }
    }
    &-discover {
        width: clamp(80px, 18vw, 190px);
        max-width: 210px;
        @include mixins.flex-start;
        gap:10.7px;
    
    img{
        margin-left:15px;
        }
    
    span{
        @include mixins.satoshi_1-4_400;
        }
    }
    &-search {
        width: clamp(50px, 18vw, 210px);
        max-width: 210px;
        @include mixins.flex-start;
        gap:10.7px;
    
    img{
        margin-left:15px;
        }
    span{
        @include mixins.satoshi_1-4_400;
        }
    }
    &-right-btn {
        @include mixins.flex;
        gap:13px;
    }
    &-item-icon {
        @include mixins.flex;
        width: 40.41px;
        height: 40.41px;    
    }
}

// Tu gvinda rom hederi fixed iyos 
// @media (min-width:398px) {
//     .header{
        
//         width: calc(100vw - clamp(180px, 18.4vw, 254px) - 20px);
//         position:fixed;
//         left: clamp(180px, 18.4vw, 254px);
//         margin:0 10px;
//         }
//     }
