@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

@mixin satoshi_1-4_400 {
    font-family: satoshi;
    font-size:1.4rem;
    font-weight: 400;
    color:#E0E0E0;
}

@mixin satoshi_custom($font-size,$font-weight,$font-color) {
    font-family: satoshi;
    font-size:$font-size;
    font-weight: $font-weight;
    color:$font-color;
}
@mixin flex-evenly {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}