@use '../abstract/mixins';

.nav-sublist{
    list-style:none;
    padding-left:50px;
    max-height:0;
    overflow:hidden;
    transition:max-height 0.6s ease;

    li{
        margin:6px 0;
        height: 30px;
        cursor: pointer;   
        @include mixins.flex-start;
    }

    li:hover {
        background-color: #202020; 
        border-radius: 5px;
    }
    a{
        @include mixins.satoshi_custom(1.4rem,400,#898989);
        margin-left:10px;
    }
}
.has-submenu.open .nav-sublist{
    max-height:300px;
}
.nav-item-sublist-arrow img{
    transition:transform 0.3s ease;
}
.has-submenu.open .nav-item-sublist-arrow img{
    transform:rotate(90deg);}
