$base-bg-color:#060606;
$mobile-bg-color:#060606;
$base-font-color:#898989;
$second-font-color:#E0E0E0;
$h-fonts-color:#fff;
$base-font-size:16px;
$main-font-size:14px;
$card-colors-mfy: 
  #CE6E9A,
  #95E6D3,
  #F4B8BD,
  #C3E7B7,
  #F37FA6,
  #A0BEC8,
  #FDD87D,
  #D4B2A9;
$card-colors-ytm: 
  #CCF665,
  #F9E72C,
  #9BF0E2,
  #FFCBD4,
  #FFCBD4,
  #FFC668,
  #27856B,
  #DD138B;


